@page "/customerprofile/{customerid}"
@layout MainLayout

@inject NavigationManager navigationManager
@inject StateContainer stateContainer

<h1>پروفایل ورزشی</h1>
@if (lst == null)
{
    <p><em>Loading...</em></p>
    <span class="col-12">@BackendMesssage</span>
}
else
{
    <h1>@lst.FirstOrDefault()?.FullName</h1>
    <button class="btn-primary" @onclick="Cancel">بازگشت</button>
    <button class="btn-primary" @onclick="ShowCustomerPeriodicCheckupAdd">ثبت رکورد جدید</button>
    <table class="table">
        <thead>
            <tr>
                <th>تاریخ ثبت</th>
                <th>قد</th>
                <th>وزن</th>
                <th>سایز کمر</th>
                <th>قفسه سینه</th>
                <th>دور شکم</th>
                <th>باسن</th>
                <th>بازوی راست</th>
                <th>بازوی چپ</th>
                <th>ران راست</th>
                <th>ران چپ</th>
                <th>ساق راست</th>
                <th>ساق چپ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lst)
            {
                <tr>
                    <td>
                        @item.RegDateFa
                    </td>
                    <td>
                        @item.Height
                    </td>
                    <td>@item.Weight</td>
                    <td>
                        @item.WaistSize
                    </td>
                    <td>
                        @item.Chest
                    </td>
                    <td>
                        @item.ABS
                    </td>
                    <td>
                        @item.BUTT
                    </td>
                    <td>
                        @item.RightArm
                    </td>
                    <td>
                        @item.LeftArm
                    </td>
                    <td>
                        @item.RightThigh
                    </td>
                    <td>
                        @item.LeftThigh
                    </td>
                    <td>
                        @item.RightCalves
                    </td>
                    <td>
                        @item.LeftCalves
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    [Parameter]
    public string CustomerID { get; set; }
    private string BackendMesssage;
    private CustomerPeriodicCheckup[] lst;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(stateContainer.Token))
        {
            navigationManager.NavigateTo("/");
        }


        var param = "{" + string.Format("\"{0}\": {1}", "customerid", CustomerID.ToLong()) + "}";

        var data = BackendEngine.Call("ClientPeriodicCheckupGet", param, stateContainer.Token);


        var msg = data.GetBackendErrorMsg();
        if (msg.Length > 0)
            BackendMesssage = msg;
        else
            lst = JsonConvert.DeserializeObject<CustomerPeriodicCheckup[]>(data);
    }

    private async void ShowCustomerPeriodicCheckupAdd()
    {
        navigationManager.NavigateTo("/customerprofileadd/" + CustomerID);
    }

    private async void Cancel()
    {
        navigationManager.NavigateTo("/customers");
    }

}
